$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$lateRust: #d7594b;
$lateRustSelect: #ad4539;
$brickEmber: #C03221;
$pacificCyan: #188FA7;
$twilightIndigo: #123068;
$royalGold: #F4D35E;
// #D89F00;
// #F4D35E;
$ashGrey: #dadddf;
$cloudGrey: #96BBBB;

body {
  background: $ashGrey;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0;
  margin-top: 1.2rem;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: $cloudGrey;
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: small;
  border: 1px solid $twilightIndigo;
  border-left: 0;
  border-right: 0;
}

a:hover {
  color: #123068;
}

a:visited {
  color: purple;
}

nav {
  background: $brickEmber;
  border: 0;
  border-top: 0.25rem;
  border-bottom: 0.25rem;
  border-style: solid;
  border-color: $royalGold;
  height: 2rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $royalGold;
  filter: drop-shadow(0 0 3px #22221f);
}

nav a {
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 600;
  text-align: center;
}

nav span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  margin-inline: 1rem;
}

nav span a {
  background-color: $lateRust;
  display: flex;
  border-radius: 100%;
  height: 100%;
  aspect-ratio: 1;
  margin: 0;
  padding: 6px;
  justify-content: center;
  align-items: center;
}

nav span a:hover {
  background-color: $lateRustSelect;
}

.navicon {
  height: 100%;
  aspect-ratio: 1;
}

.info {
  height: 110%;
}

.github {
  height: 85%;
}

.linkedin {
  height: 90%;
}

.cover {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.content {
  flex-grow: 1;
}

.sidebar {
  display: flex;
  max-width: 12rem;
  min-width: 12rem;
  flex-direction: column;
  border-style: double;
  border-radius: 1rem;
  border-color: $cloudGrey;
  padding: 0.5rem;
  height: fit-content;
  margin: 0.5rem;
  gap: 0.25rem;
}

.logo {
  height: 250%;
  aspect-ratio: 1;
  border-radius: 100%;
  padding: 0.5rem;
  border: $royalGold;
  border-style: solid;
  margin-inline: 0.5rem;
  background-color: $brickEmber;
  display: flex;
  align-items: start;
  justify-content: center;
}

.logo:hover {
  background-color: $lateRustSelect;
}

.logoimg {
  height: 90%;
  fill: $royalGold
}
