.blog-header {
  background: $primary;
  border: 0;
  border-top: 0.25rem;
  border-bottom: 0.25rem;
  border-style: solid;
  border-color: $secondary;
  height: 2rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $secondary;
}

.blog-header span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  margin-inline: 1rem;
}

.blog-header span a {
  background-color: $secondary;
  opacity: 85%;
  display: flex;
  border-radius: 100%;
  height: 100%;
  aspect-ratio: 1;
  margin: 0;
  padding: 6px;
  justify-content: center;
  align-items: center;
}

.blog-header span a:hover {
  background-color: $buttonHover;
}

.blog-header h3 {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
}
