$neutral-100: hsl(48, 100%, 98%);
$neutral-300: hsl(50, 49%, 86%);
$neutral-500: hsl(49, 25%, 70%);
$neutral-700: hsl(0,0,30);
$neutral-900: hsl(0,0,10);

$confirmation-100: hsl(150,100,90);
$confirmation-300: hsl(150,95,80);
$confirmation-500: hsl(150,90,65);
$confirmation-700: hsl(150,80,50);
$confirmation-900: hsl(150,90,30);

$warning-100: hsl(30,90,85);
$warning-300: hsl(30,80,65);
$warning-500: hsl(30,70,50);
$warning-700: hsl(30,80,35);
$warning-900: hsl(30,90,20);

$danger-100: hsl(350,90,85);
$danger-300: hsl(350,80,70);
$danger-500: hsl(350,70,50);
$danger-700: hsl(350,80,35);
$danger-900: hsl(350,90,20);

// $primary-100: hsl(6,80,70);
// $primary-300: hsl(6,70,50);
$primary-500: hsl(6, 93%, 59%);
$primary-700: hsl(6,85,25);
// $primary-900: hsl(6,85,15);

// $accent-100: hsl();
// $accent-300: hsl();
// $accent-500: hsl();
// $accent-700: hsl();
// $accent-900: hsl();

$secondary: hsl(264,88,33);
$logoHover: hsl(281,81,50);
$secondary-dark: hsl(265, 95%, 8%);

$background: hsl(50, 67%, 96%);
$bodyColor: hsl(264, 71%, 5%);
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $neutral-100;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0;
  margin-top: 1.5rem;
  margin-inline: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
  margin: 0.5rem;
  line-height: 1;
}

.content {
  padding: 0.3rem;
  border-radius: 1rem;
  width: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content p {
  margin-inline: 0.5rem;
  margin-block: 1rem;
  text-align: justify;
}

.empty {
  width: 10%;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

img {
  max-height: 24rem;
}

table {
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-around;
}