.icon-container {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neutral-500;
  padding: 0.2rem;
  border-radius: 20%;
}

.icon-container:hover {
  background-color: $neutral-700;
}

// .icon-container:focus {
//   border: none;
// }

.icon {
  aspect-ratio: 1;
}

.info {
  height: 110%;
}

.github {
  height: 85%;
}

.linkedin {
  height: 90%;
}
