.tilecontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // align-items: ;
}

.tile {
  background-color: $neutral-300;
  padding: 1rem;
  border-radius: 1rem;
}

.tile:hover {
  background-color: $neutral-500;
}

.tile:focus {
  background-color: $neutral-700;
}