<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="icon" type="image/png" href="/assets/arban-small.png">
  </head>
  <body>
    <nav>
      <a class="logo" href="/">
        <img class="logoimg" src="assets/arban.svg" alt="Arbitrary Analysis Logo">
      </a>
      <h3><b>Welcome to {{ site.title }}</b> <i>by {{ site.author }}</i></h3>
      <span>
        <a href="/">home</a>
        <a href="{{ site.github_link }}">github</a>
        <a href="{{ site.linkedin_link }}">linkedin</a>
      </span>
    </nav>
    <div class="cover">
      <div class="content">
        {{ content }}
      </div>
      <div class="sidebar">
        <b>Topics</b>
        {% for topic in site.topics %}  
        <a href="/{{ topic.path }}">{{ topic .title}}</a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
